.character-img {
  height: 300px !important;
  object-fit: cover !important; /* Ajusta la imagen para cubrir el área del contenedor sin deformarse */
  width: 100% !important; /* Asegura que la imagen ocupa el 100% del ancho del contenedor */
}

.card-body {
  background-color: #f8f9fa !important;
}

.list-group-item {
  background-color: #ffffff !important;
}

.card-title {
  font-size: 2rem !important;
  font-weight: 500 !important;
}

.list-group-item strong {
  font-weight: 600 !important;
}

.text-primary:hover {
  color: orange !important;
  cursor: pointer;
}
