<div *ngIf="character" class="container mt-4">
  <div class="card mb-3">
    <!-- Encabezado con la imagen del personaje -->
    <img [src]="character.image" class="character-img card-img-top rounded-top" alt="{{ character.name }}">

    <div class="card-body">
      <!-- Nombre del personaje -->
      <h2 class="card-title">{{ character.name }}</h2>

      <!-- Información del personaje organizada en una lista -->
      <ul class="list-group list-group-flush rounded">
        <li class="list-group-item"><strong>Estado:</strong> {{ character.status }}</li>
        <li class="list-group-item"><strong>Especie:</strong> {{ character.species }}</li>
        <li class="list-group-item"><strong>Tipo:</strong> {{ character.type || 'No disponible' }}</li>
        <li class="list-group-item"><strong>Género:</strong> {{ character.gender }}</li>
        <li class="list-group-item">
          <strong>Origen: </strong>
          <ng-container *ngIf="character.origin.name !== 'unknown'; else unknownOrigin">
            <a class="text-primary" (click)="goToLocation(character.origin.url)">{{ character.origin.name }}</a>
          </ng-container>
          <ng-template #unknownOrigin>
            <span>{{ character.origin.name }}</span>
          </ng-template>
        </li>
        <li class="list-group-item">
          <strong>Ubicación: </strong>
          <ng-container *ngIf="character.location.name !== 'unknown'; else unknownLocation">
            <a class="text-primary" (click)="goToLocation(character.location.url)">{{ character.location.name }}</a>
          </ng-container>
          <ng-template #unknownLocation>
            <span>{{ character.location.name }}</span>
          </ng-template>
        </li>
        <li class="list-group-item"><strong>Creado el:</strong> {{ character.created | date:'longDate' }}</li>
        <li class="list-group-item">
          <strong>Episodes:</strong>
          <ul>
            <li *ngFor="let episode of character.episode"><a href="">{{ episode }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
