<div class="container-fluid bg-white rounded p-5">
  <!-- Filtro -->
  <div class="row bg-dark p-3 shadow-lg border rounded">
    <div class="col-12">
      <form id="filter-form" (ngSubmit)="onFilter()">
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="name" class="form-label text-white">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre del personaje">
          </div>
          <div class="col-md-4">
            <label for="status" class="form-label text-white">Estado</label>
            <select class="form-select" id="status">
              <option value="">Todos</option>
              <option value="alive">Vivo</option>
              <option value="dead">Muerto</option>
              <option value="unknown">Desconocido</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="species" class="form-label text-white">Especie</label>
            <input type="text" class="form-control" id="species" placeholder="Especie del personaje">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="gender" class="form-label text-white">Género</label>
            <select class="form-select" id="gender">
              <option value="">Todos</option>
              <option value="male">Masculino</option>
              <option value="female">Femenino</option>
              <option value="genderless">Sin género</option>
              <option value="unknown">Desconocido</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="origin" class="form-label text-white">Origen</label>
            <input type="text" class="form-control" id="origin" placeholder="Origen del personaje">
          </div>
          <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Aplicar Filtros</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div *ngIf="characters.length > 0" class="row">
    <div *ngFor="let character of characters;" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mb-5 d-flex justify-content-center">
      <div class="card shadow-lg">
        <img [src]="character.image" class="card-img-top" alt="{{ character.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-text"><strong>Estado:</strong> {{ character.status }} </p>
          <p class="card-text"><strong>Especie:</strong> {{ character.species }}</p>
          <p class="card-text"><strong>Género:</strong> {{ character.gender }}</p>
          <p class="card-text"><strong>Origen:</strong> {{ character.origin.name }} </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mostrar alerta si no hay personajes -->
  <div *ngIf="characters.length === 0" class="row">
    <div class="col-12">
      <div class="alert alert-warning alert-dismissible fade show text-center " role="alert">
        <strong>No se encontraron personajes.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>

</div>
