<div class="container-fluid bg-white rounded p-5">
  <!-- Filtro -->
  <div class="row bg-dark p-3 shadow-lg border rounded mb-5">
    <div class="col-12">
      <form id="filter-form" (ngSubmit)="onFilter()">
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="name" class="form-label text-white">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del personaje" [(ngModel)]="filter.name">
          </div>
          <div class="col-md-4">
            <label for="status" class="form-label text-white">Estado</label>
            <select class="form-select" id="status" name="status" [(ngModel)]="filter.status">
              <option value="">Todos</option>
              <option value="alive">Vivo</option>
              <option value="dead">Muerto</option>
              <option value="unknown">Desconocido</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="species" class="form-label text-white">Especie</label>
            <input type="text" class="form-control" id="species" name="species" placeholder="Especie del personaje" [(ngModel)]="filter.species">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="gender" class="form-label text-white">Género</label>
            <select class="form-select" id="gender" name="gender" [(ngModel)]="filter.gender">
              <option value="">Todos</option>
              <option value="male">Masculino</option>
              <option value="female">Femenino</option>
              <option value="genderless">Sin género</option>
              <option value="unknown">Desconocido</option>
            </select>
          </div>
          <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Aplicar Filtros</button>
          </div>
        </div>
      </form>
    </div>
  </div>



  <!-- Mostrar alerta si no hay personajes -->
  <div *ngIf="characters.length === 0" class="row">
    <div class="col-12">
      <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>No se encontraron personajes.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div *ngIf="characters.length > 0" class="row">
    <div *ngFor="let character of characters | paginate: { itemsPerPage: 12, currentPage: currentPage }" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mb-5 d-flex justify-content-center">
      <card-character [character]="character"></card-character>
    </div>
  </div>
  <pagination-controls (pageChange)="onPageChange( currentPage = $event )" class="d-flex justify-content-center"></pagination-controls>
</div>
