<div class="card shadow-lg" (click)="goToDetails(character.id)">
  <img [src]="character.image" class="card-img-top" alt="{{ character.name }}">
  <div class="card-body bg-dark text-white">
    <h5 class="card-title text-uppercase fw-bold text-warning">{{ character.name }}</h5>
    <hr class="text-white">
    <p class="card-text"><strong>Estado:</strong> {{ character.status }} </p>
    <p class="card-text"><strong>Especie:</strong> {{ character.species }}</p>
    <p class="card-text"><strong>Género:</strong> {{ character.gender }}</p>
    <p class="card-text">
      <strong>Origen: </strong>
      <ng-container *ngIf="character.origin.name !== 'unknown'; else unknownOrigin">
        <a class="text-primary" (click)="goToLocation(character.origin.url)"> {{ character.origin.name }} </a>
      </ng-container>
      <ng-template #unknownOrigin>
        <span>{{ character.origin.name }}</span>
      </ng-template>
    </p>
  </div>
</div>
